compile = "make"
run = "make test"
language = "c++"
hidden = ["LICENSE", "CMakeLists.txt", "Makefile", ".gitignore", ".clang-format", "compile_commands.json", ".ccls-cache", "build"]
modules = ["cpp-clang14", "nix"]

[nix]
channel = "stable-24_05"

[languages]

[languages.cpp]
pattern = "**/*.{cpp,h}"

[languages.cpp.languageServer]
start = "clangd"

[debugger]
support = false

[deployment]
run = ["sh", "-c", "make test"]
build = ["sh", "-c", "make"]
